<!doctype html>
<html lang="no" xml:lang="no">

<head>

    <!-- Script for å sette cookie til webcachen -->
    <script>
    </script>

    <link rel="shortcut icon" href="https://uit.no/ressurs/uit/images/uitfav.ico" />


    <!-- UiT -->

    <meta property="og:type" content="website" />
    <!-- Studieprogram -->
    <!-- Emnekatalog -->
    <title> EUTRO Forskningsdata i system | UiT Norges arktiske universitet</title>
    <meta property="og:title" content="EUTRO Forskningsdata i system | UiT Norges arktiske universitet" />
    <meta name="keywords" content="EUTRO Forskningsdata i system | UiT Norges arktiske universitet" />
    <meta name="description" content="Verkt&oslash;yet im&oslash;tekommer de behov som helseforskningsinstitusjoner har n&aring;r det gjelder sikkerhet, h&aring;ndtering og administrasjon av sensitive forskningsdata og biologisk matriale." />
    <meta property="og:description" content="Verkt&oslash;yet im&oslash;tekommer de behov som helseforskningsinstitusjoner har n&aring;r det gjelder sikkerhet, h&aring;ndtering og administrasjon av sensitive forskningsdata og biologisk matriale." />
    <meta property="og:image" content="https://uit.no/ressurs/uit/web2014/images/icons/nt_norsk_rod.png" />


    <meta property="og:image" content="https://uit.no/content/329937/forsknings%20prosjekt.jpg" />
    <meta property="og:image" content="https://uit.no/content/329936/datasett.jpg" />
    <meta property="og:image" content="https://uit.no/content/329934/biobanker.jpg" />

    <meta property="fb:admins" content="556041013" />
    <meta property="fb:app_id" content="528522660633750" />

    <!--<meta http-equiv="content-type" content="text/html; charset=UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <style>
        #ikbPopup {
            z-index: 99999 !important;
            top: 200px !important;
        }
    </style>

    <!-- Jquery og Jquery-ui -->
    <script src="https://uit.no/ressurs/uit/webmain/js/jquery-1.11.3.min.js"></script>
    <script src="https://uit.no/ressurs/uit/webmain/jquery/jquery-migrate-1.2.1.js"></script>
    <script src="https://uit.no/ressurs/uit/webmain/jquery/jquery-ui.min.js"></script>
    <link href="https://uit.no/ressurs/uit/webmain/jquery/jquery-ui.css" rel="stylesheet">

    <!-- Hardkodede scripts og css istf page.resources.head -->
    <link rel='stylesheet' type='text/css' href='https://uit.no/ressurs/iknowbase/css/iknowbase.css' />
    <script type='text/javascript' src='https://uit.no/ressurs/iknowbase/iknowbase-full-min.js'></script>
    <script type='text/javascript' src='https://uit.no/ressurs/evita/iKBDesktop/javascript/iknowbase-common-full-min.js' charset='windows-1252'></script>
    <script type='text/javascript'>iKnowBase.init({ikbLanguage:'n',locale:'nb',locations:{ikbViewer:'https://uit.no',resource:'https://uit.no/ressurs'},isPage:true});</script>
    <!--<script>
jQuery().ready(function($) {
    iKnowBase.ensure ( iKnowBase.ensures.cluetip, function(){
        $('a.ikb-cluetip-url').cluetip({clickThrough:true});
        $('a.ikb-cluetip-title').cluetip({splitTitle:'|', showTitle:false, clickThrough:true});
    });
});
    </script>-->
    <!-- Slutt på hardkodede scripts og css -->
    <link href="/css/site.css" rel="stylesheet" type="text/css" media="screen">   
    <!-- Bootstrap -->
    <script src="https://uit.no/ressurs/uit/webmain/js/bootstrap.min.js" type="text/javascript"></script>

    <link href="https://uit.no/css/2014Nydesign/bootstrap.min.css" rel="stylesheet">

    <!-- custom css, her er font-awsome, owl og style.css -->
    <!--<link href="https://uit.no/inter15csspage" rel="stylesheet" type="text/css" media="screen">-->

    <!-- andre script -->
    <script type="text/javascript" src="https://uit.no/js/jcarousellite_1.0.1.js"></script>
    <!-- Flytter Instalink herifra pga feil i rekkefølgen? -->

    <script src="https://uit.no/ressurs/uit/webmain/js/responsive-tabs-2.3.2.js" type="text/javascript"></script>


</head>

<body>





    <nav class="navbar navbar-default navbar-static-top skygge" role="navigation">

        <div class="container">

            <div class="navbar-header">

                <a class="brand" href="https://uit.no">
                    <span>
                        <img id="logoliten" src="https://uit.no/ressurs/uit/webmain/img/ntWebBm.png" alt="Home" />
                    </span>
                </a>
            

            </div><!--.navbar header-->
            <!--HTML - start:menu-->
       </div>
    </nav>


    <style>
        .velkommen {
            color: white;
            font-size: 1.7em;
            font-weight: 400;
            padding-top: 7px;
        }

        div.enhmeny {
            margin-top: 5px;
        }

            div.enhmeny span {
                margin-right: 20px;
            }

                div.enhmeny span a {
                    color: white;
                    font-size: 1.2em;
                    font-weight: 400;
                }

                div.enhmeny span.active a {
                    /*font-weight:600;*/
                    color: white;
                    color: rgba(255, 242, 244, 0.5);
                }

                div.enhmeny span a:hover {
                    color: black;
                }
    </style>







    

    <div id="content">


        <div class="container fratoprow">
            <div class="row">

                <div class="col-md-12">

                </div>

                {{ content }}

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>

            </div>
        </div>




        <!-- Test for rike medier -->

        <div class="row">

            <div class="container">
                <div class="col-md-12">

                </div>
            </div>

            <div class="container">
                <div class="col-md-8">

                </div>

                <div class="col-md-3 col-md-offset-1">

                </div>
            </div>




            <div class="container">
                <div class="col-md-8">

                </div>



            </div>


            <div class="container">
                <div class="col-md-8">

                </div>


            </div>


            <div class="container">
                <div class="col-md-8">

                </div>


            </div>

        </div>




        <div class="container">

            <style scoped>
                .share {
                    margin-top: 20px;
                }
            </style>



            <div class="row">
                <div class="col-md-12 share">

                    <span class='st_facebook' displayText='Facebook'></span>
                    <span class='st_twitter' displayText='Tweet'></span>
                    <span class='st_linkedin' displayText='LinkedIn'></span>
                    <span class='st_pinterest' displayText='Pinterest'></span>
                    <span class='st_sharethis' displayText='ShareThis'></span>
                    <span class='st_email' displayText='Email'></span>

                </div>
            </div>
        </div>
        <div class="divide50"></div>


        

    </div>



    <!--<script src="/js/2014Nydesign/jquery.nicescroll.min.js" type="text/javascript"></script>-->
    <!--<script src="/js/2014Nydesign/jquery.flexslider-min.js" type="text/javascript"></script>
    <script src="/js/2014Nydesign/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="/js/2014Nydesign/jquery.mixitup.min.js" type="text/javascript"></script>
    <script src="/js/2014Nydesign/wow.min.js" type="text/javascript"></script>
    <script src="/js/2014Nydesign/isotope.pkgd.min.js" type="text/javascript"></script>

    <script src="/js/2014Nydesign/custom.js" type="text/javascript"></script>
    <script src="/js/2014Nydesign/instalink-1.6.5.min.js" type="text/javascript"></script>--> <!-- Embedde ny Instagram Feed -->

    <!--<script type="text/javascript" src="https://uit.no/pls/portlet_manage_target.js" charset="utf-8"></script>-->


    <!--Trackingkode for google analytics på uit.no -->
    <script type="text/javascript">

    </script>
    <!--Slutt på trackingkode for google analytics på uit.no -->


</body>
</html>
