
<!doctype html>
<html lang="no" xml:lang="no">

<head>

    <!-- Script for å sette cookie til webcachen -->
    <script>
    </script>

    <link rel="shortcut icon" href="https://uit.no/ressurs/uit/images/uitfav.ico" />


    <!-- UiT -->

    <meta property="og:type" content="website" />
    <!-- Studieprogram -->
    <!-- Emnekatalog -->
    <title> EUTRO Forskningsdata i system | UiT Norges arktiske universitet</title>
    <meta property="og:title" content="EUTRO Forskningsdata i system | UiT Norges arktiske universitet" />
    <meta name="keywords" content="EUTRO Forskningsdata i system | UiT Norges arktiske universitet" />
    <meta name="description" content="Verkt&oslash;yet im&oslash;tekommer de behov som helseforskningsinstitusjoner har n&aring;r det gjelder sikkerhet, h&aring;ndtering og administrasjon av sensitive forskningsdata og biologisk matriale." />
    <meta property="og:description" content="Verkt&oslash;yet im&oslash;tekommer de behov som helseforskningsinstitusjoner har n&aring;r det gjelder sikkerhet, h&aring;ndtering og administrasjon av sensitive forskningsdata og biologisk matriale." />
    <meta property="og:image" content="https://uit.no/ressurs/uit/web2014/images/icons/nt_norsk_rod.png" />


    <meta property="og:image" content="https://uit.no/content/329937/forsknings%20prosjekt.jpg" />
    <meta property="og:image" content="https://uit.no/content/329936/datasett.jpg" />
    <meta property="og:image" content="https://uit.no/content/329934/biobanker.jpg" />

    <meta property="fb:admins" content="556041013" />
    <meta property="fb:app_id" content="528522660633750" />

    <!--<meta http-equiv="content-type" content="text/html; charset=UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <style>
        #ikbPopup {
            z-index: 99999 !important;
            top: 200px !important;
        }
    </style>

    <!-- Jquery og Jquery-ui -->
    <script src="https://uit.no/ressurs/uit/webmain/js/jquery-1.11.3.min.js"></script>
    <script src="https://uit.no/ressurs/uit/webmain/jquery/jquery-migrate-1.2.1.js"></script>
    <script src="https://uit.no/ressurs/uit/webmain/jquery/jquery-ui.min.js"></script>
    <link href="https://uit.no/ressurs/uit/webmain/jquery/jquery-ui.css" rel="stylesheet">

    <!-- Hardkodede scripts og css istf page.resources.head -->
    <link rel='stylesheet' type='text/css' href='https://uit.no/ressurs/iknowbase/css/iknowbase.css' />
    <script type='text/javascript' src='https://uit.no/ressurs/iknowbase/iknowbase-full-min.js'></script>
    <script type='text/javascript' src='https://uit.no/ressurs/evita/iKBDesktop/javascript/iknowbase-common-full-min.js' charset='windows-1252'></script>
    <script type='text/javascript'>iKnowBase.init({ikbLanguage:'n',locale:'nb',locations:{ikbViewer:'https://uit.no',resource:'https://uit.no/ressurs'},isPage:true});</script>
    <!--<script>
jQuery().ready(function($) {
    iKnowBase.ensure ( iKnowBase.ensures.cluetip, function(){
        $('a.ikb-cluetip-url').cluetip({clickThrough:true});
        $('a.ikb-cluetip-title').cluetip({splitTitle:'|', showTitle:false, clickThrough:true});
    });
});
    </script>-->
    <!-- Slutt på hardkodede scripts og css -->
    <!-- Bootstrap -->
    <script src="https://uit.no/ressurs/uit/webmain/js/bootstrap.min.js" type="text/javascript"></script>

    <link href="https://uit.no/css/2014Nydesign/bootstrap.min.css" rel="stylesheet">

    <!-- custom css, her er font-awsome, owl og style.css -->
    <link href="https://uit.no/inter15csspage" rel="stylesheet" type="text/css" media="screen">

    <!-- andre script -->
    <script type="text/javascript" src="https://uit.no/js/jcarousellite_1.0.1.js"></script>
    <!-- Flytter Instalink herifra pga feil i rekkefølgen? -->

    <script src="https://uit.no/ressurs/uit/webmain/js/responsive-tabs-2.3.2.js" type="text/javascript"></script>

    <!-- Sharethis -->
    <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "96f9c9bc-8dc2-47e9-869e-8d15a548dc8a"}); </script>
    <!-- End Sharethis -->
    <!-- Facebook Pixel Code -->
    <script>
                    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//connect.facebook.net/en_US/fbevents.js');
                    fbq('init', '1711495302406692');
                    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1711495302406692&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

</head>

<body>




    <header>
        <style scoped>
            @media (min-width:768px) {
                .roleframe {
                    height: 600px;
                }
            }

            @media (max-width:768px) {
                .roleframe {
                    height: 350px;
                }
            }
        </style>

        <div class="top-bar-wrap">
            <div class="container">
                <div class="top-bar">
                    <div class="pull-right">
                    </div>

                    <div class="pull-right hidden-xs" style="padding-right:10px;">

                        <div class="tools">
                        </div><!-- /.tools -->
                    </div>

                    <div class="pull-left">
                        <ul class="list-inline social-1">
                            <li><a href="https://www.facebook.com/UniTromso" target="_blank" title="UiT – Facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="https://twitter.com/UiTromso" target="_blank" title="UiT – Twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li class="hidden-xs"><a href="https://www.youtube.com/user/universitetetitromso" target="_blank" title="UiT – YouTube"><i class="fa fa-youtube-square"></i></a></li>
                            <li class="hidden-xs"><a href="https://instagram.com/uitromso" target="_blank" title="UiT – Instagram"><i class="fa fa-instagram"></i></a></li>
                            <li class="hidden-xs"><a href="https://www.flickr.com/photos/uitfoto/" target="_blank" title="UiT – Flickr"><i class="fa fa-flickr"></i></a></li>
                            <li class="hidden-xs"><a href="https://www.linkedin.com/company/university-of-tromso" target="_blank" title="UiT – LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                            <li class="hidden-xs"><a href="https://uit.no/nyheter/rss" target="_blank" title="Abonnér på UiTs informasjon"><i class="fa fa-rss-square"></i></a></li>
                            <!--<li class="hidden-xs"><a href="https://uit.no/formM2?p_style_id=188740" target="_blank"><i class="fa fa-question-circle"></i></a></li>-->
                            <li></li>
                            
                        </ul>

                    </div>
                </div><!--top-bar-->
            </div>
        </div><!--top bar wrap end-->
        
    </header>

    
    <div class="avstand"></div>

    <style>
        .velkommen {
            color: white;
            font-size: 1.7em;
            font-weight: 400;
            padding-top: 7px;
        }

        div.enhmeny {
            margin-top: 5px;
        }

            div.enhmeny span {
                margin-right: 20px;
            }

                div.enhmeny span a {
                    color: white;
                    font-size: 1.2em;
                    font-weight: 400;
                }

                div.enhmeny span.active a {
                    /*font-weight:600;*/
                    color: white;
                    color: rgba(255, 242, 244, 0.5);
                }

                div.enhmeny span a:hover {
                    color: black;
                }
    </style>





    <div class="divide10"></div>




    

    <div id="content">


        <div class="container fratoprow">
            <div class="row">

                <div class="col-md-12">

                </div>

                {{ content }}

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>

            </div>
        </div>




        <!-- Test for rike medier -->

        <div class="row">

            <div class="container">
                <div class="col-md-12">

                </div>
            </div>

            <div class="container">
                <div class="col-md-8">

                </div>

                <div class="col-md-3 col-md-offset-1">

                </div>
            </div>




            <div class="container">
                <div class="col-md-8">

                </div>



            </div>


            <div class="container">
                <div class="col-md-8">

                </div>


            </div>


            <div class="container">
                <div class="col-md-8">

                </div>


            </div>

        </div>




        <div class="container">

            <style scoped>
                .share {
                    margin-top: 20px;
                }
            </style>



            <div class="row">
                <div class="col-md-12 share">

                    <span class='st_facebook' displayText='Facebook'></span>
                    <span class='st_twitter' displayText='Tweet'></span>
                    <span class='st_linkedin' displayText='LinkedIn'></span>
                    <span class='st_pinterest' displayText='Pinterest'></span>
                    <span class='st_sharethis' displayText='ShareThis'></span>
                    <span class='st_email' displayText='Email'></span>

                </div>
            </div>
        </div>
        <div class="divide50"></div>


        

    </div>



    <a href="#" class="back-to-top hidden-xs" style="display:inline;"><i class="fa fa-angle-double-up fa-fw fa-1x"></i> Til toppen</a>
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

    <!--<script src="/js/2014Nydesign/jquery.nicescroll.min.js" type="text/javascript"></script>-->
    <script src="/js/2014Nydesign/jquery.flexslider-min.js" type="text/javascript"></script>
    <script src="/js/2014Nydesign/jquery.stellar.min.js" type="text/javascript"></script>
    <script src="/js/2014Nydesign/jquery.mixitup.min.js" type="text/javascript"></script>
    <script src="/js/2014Nydesign/wow.min.js" type="text/javascript"></script>
    <script src="/js/2014Nydesign/isotope.pkgd.min.js" type="text/javascript"></script>

    <script src="/js/2014Nydesign/custom.js" type="text/javascript"></script>
    <script src="/js/2014Nydesign/instalink-1.6.5.min.js" type="text/javascript"></script> <!-- Embedde ny Instagram Feed -->

    <script type="text/javascript">
/* <![CDATA[ */
function call_ikb_popup_dynamic(p1,dest,p2,p3,p4,p5,p6,p7,p8,p9)
{
     // Last updated : 02.03.2016 11:45:01 DIFF-IGNORE
var ppath = '';
var ipath = 'https://uit.no';
if (dest=="482")
{ window.open(ppath + '29FE781D2A581B78E040007F01007124?dimensionID='+ p1+ '&editorname='+ p2+ '&cbFunction='+ p3+ '&cbClosure='+ p4+ '&p_dimension_id='+ p1,'ImageDimension','scrollbars=no').focus();}
else if (dest=="661")
{ window.open(ppath + '29FE781D2A7A1B78E040007F01007124?dimensionID='+ p1+ '&Xeditorname='+ p2+ '&my_params='+ p3+ '&cbFunction='+ p4+ '&cbClosure='+ p5+ '&maxCount='+ p6+ '&mode='+ p7+ '&p_dimension_id='+ p1,'LinkDimension','scrollbars=no').focus();}
else if (dest=="852")
window.location = ppath + '4A68C8A5039348C5921003715E39E214';
else if (dest=="5572")
{ window.open(ppath + '29FE823A7B2365F9E040007F01007438?dimensionID='+ p1+ '&editorname='+ p2+ '&my_params='+ p3+ '&p_dimension_id='+ p1,'LinkDimension','scrollbars=no').focus();}
else if (dest=="8439")
window.location = ppath + 'F1B91A18F6D641E9B9188B7EAC60C28A?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="7317")
{ window.open(ppath + '29FE823A7B3965F9E040007F01007438?dimensionID='+ p1+ '&editorname='+ p2+ '&p_dimension_id='+ p1,'ImageDimension','scrollbars=no').focus();}
else if (dest=="8059")
window.location = ppath + '10CB7CD2414F46EEB89F5346DC2F7C27?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="7730")
window.location = ppath + 'B9DE0694417D41358943CDC3624D021C?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="7940")
window.location = ppath + 'DF4B533254554DEB99383EDB5AF36EDE?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="7956")
window.location = ppath + '7B9538B1CF6E448496864429B9FEE5CD?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="7959")
window.location = ppath + 'DA305940357B4711BA05A52C304A43FD?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="7964")
window.location = ppath + '33165AF576C4482AA23973EE9914F9FB?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="7969")
window.location = ppath + '1C75DFF5FFE7487584621E4B235A902B?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="7986")
window.location = ppath + 'C5769D48F705491AB49EDC94ACE7666D?p_style_id=4802&p_person=197042';
else if (dest=="8068")
window.location = ppath + 'E188035A8AC84E22AB0F4870C2D542EA?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="163684")
window.location = ipath + '/mobile/for-studiesokere/hva-er-du-interessert-i/vis-yrke?p_document_id='+ p1+ '&yrkeskode='+ p2 + '&ar=2012&semester=H';
else if (dest=="8167")
window.location = ppath + '8FB1980CF9CA45FBB735E0919307CFD0?p_dimension_id=88111&p_dimension_id='+ p1;
else if (dest=="8200")
{ window.open(ppath + 'E4C8683739C247FBB5AF923471C16D19?p_dimension_id='+ p3+ '&p_document_id='+ p1 + '&p_user=197042','_blank','height=450,top=' + (screen.height-450)/2 + ',width=950,left=' + (screen.width-950)/2 + ',scrollbars=no,resizable=yes').focus();}
else if (dest=="137067")
window.location = ipath + '/ansatte/organisasjon/hjem?p_dimension_id='+ p1 + '&p_menu=42374';
else if (dest=="4394")
{ window.open(ppath + 'A39120D8C2C740AD811F79B8DFB92312?p_dimension_id='+ p1,'_processdoc','scrollbars=no').focus();}
else if (dest=="49414")
window.location = ipath + '/ansatte/organisasjon/dokumentliste?p_dimension_id=88111&p_menu=49412';
else if (dest=="96173")
window.location = ipath + '/for-studiesokere/vis-yrke?p_document_id='+ p1+ '&yrkeskode='+ p4;
else if (dest=="97237")
window.location = ipath + '/ansatte/organisasjon/iktiutdanning?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="97449")
window.location = ipath + '/ansatte/organisasjon/nettstudier?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="15968")
window.location = ipath + '/xnext/accesspage/workspace/tasks/archive?p_document_id=329938';
else if (dest=="83789")
window.location = ipath + '/dua/min_profil';
else if (dest=="176429")
window.location = ipath + '/om/orakelet/mgr?p_searchstring='+ p1 + '&#=res';
else if (dest=="85987")
window.location = ipath + '/ansatte/organisasjon/omenheten?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="86134")
window.location = ipath + '/ansatte/organisasjon/nyheter?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="16482")
window.location = ipath + '/xnext/accesspage/workspace/discussions/details?p_discussion_id='+ p1+ '&p_document_id=329938&p_document_id='+ p2;
else if (dest=="16650")
window.location = ipath + '/xnext/accesspage/customer/log?p_dimension_id=88111';
else if (dest=="163400")
window.location = ipath + '/mobile/for-studiesokere/fag-og-studier/sok?p_fagkode='+ p1+ '&p_aktiv_dim='+ p2;
else if (dest=="164030")
window.location = ipath + '/mobile/study-catalogue/programs/search?p_fagkode='+ p1;
else if (dest=="164035")
window.location = ipath + '/mobile/study-catalogue/show-program?p_document_id='+ p1 + '&ar=2012&semester=V';
else if (dest=="51934")
{ window.open(ipath + '/xnext/accesspage/publish?p_style_id='+ p1 + '&p_user=197042','_blank','height=400,top=' + (screen.height-400)/2 + ',width=600,left=' + (screen.width-600)/2 + ',scrollbars=yes,resizable=yes').focus();}
else if (dest=="171007")
{ window.open(ipath + '/formM','_form','scrollbars=yes').focus();}
else if (dest=="178667")
window.location = ipath + '/forskning/forskningsgrupper/sub?p_document_id=329938&sub_id='+ p1;
else if (dest=="178765")
{ window.open(ipath + '/formmasterFG','_form','height=800,top=' + (screen.height-800)/2 + ',width=800,left=' + (screen.width-800)/2 + ',scrollbars=yes').focus();}
else if (dest=="178969")
window.location = ipath + '/forskning/forskningsgrupper/sub?p_document_id=329938&blogg_id='+ p1;
else if (dest=="182030")
window.location = ipath + '/ansatte/organisasjon/praksis?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="156033")
window.location = ipath + '/ansatte/organisasjon/tavla/artikkel?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="156194")
window.location = ipath + '/ansatte/organisasjon/forskningsgruppeaktiviteter?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="85989")
window.location = ipath + '/ansatte/organisasjon/ansatte?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="86162")
window.location = ipath + '/ansatte/organisasjon/ansatte/person?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="88911")
window.location = ipath + '/ansatte/organisasjon/alumni?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="88928")
window.location = ipath + '/ansatte/organisasjon/aktiviteter?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="88994")
window.location = ipath + '/ansatte/organisasjon/brukerstotte?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="88997")
window.location = ipath + '/ansatte/organisasjon/bibliotekstjenester?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89014")
window.location = ipath + '/ansatte/organisasjon/driftogvedlikehold?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89025")
window.location = ipath + '/ansatte/organisasjon/etikkogpersonvern?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89031")
window.location = ipath + '/ansatte/organisasjon/etterutdanning?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89049")
window.location = ipath + '/ansatte/organisasjon/formidling?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89042")
window.location = ipath + '/ansatte/organisasjon/foreningerogorg?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89051")
window.location = ipath + '/ansatte/organisasjon/forskning?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89059")
window.location = ipath + '/ansatte/organisasjon/grafisketjenester?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89063")
window.location = ipath + '/ansatte/organisasjon/handboker?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89105")
window.location = ipath + '/ansatte/organisasjon/helsemiljoogsikkerhet?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89109")
window.location = ipath + '/ansatte/organisasjon/internasjonalisering?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89120")
window.location = ipath + '/ansatte/organisasjon/kunnskapsstotte?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89126")
window.location = ipath + '/ansatte/organisasjon/kvalitetssikring?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89132")
window.location = ipath + '/ansatte/organisasjon/okonomi?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89140")
window.location = ipath + '/ansatte/organisasjon/prosjekterogsentre?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89137")
window.location = ipath + '/ansatte/organisasjon/personal?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89160")
window.location = ipath + '/ansatte/organisasjon/samlinger?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89164")
window.location = ipath + '/ansatte/organisasjon/samvirke?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89167")
window.location = ipath + '/ansatte/organisasjon/senter?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89173")
window.location = ipath + '/ansatte/organisasjon/skjemaer?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89176")
window.location = ipath + '/ansatte/organisasjon/stipender?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="156273")
window.location = url;
else if (dest=="72887")
{ window.open(ipath + '/utskrift?p_document_id=329938&p_document_id='+ p1,'_blank','height=600,top=' + (screen.height-600)/2 + ',width=600,left=' + (screen.width-600)/2 + ',scrollbars=yes,resizable=yes').focus();}
else if (dest=="84452")
window.location = ppath + '65F1250E7F7019CDE040F28154A47207';
else if (dest=="161280")
{ window.open(ipath + '/formElevaktivitet','_form','scrollbars=yes').focus();}
else if (dest=="155384")
window.location = ipath + '/ansatte/organisasjon/kompkat?p_dimension_id=88111&p_menu=155372';
else if (dest=="49101")
{ window.open(ppath + '492E757A61910200E040F28154A4210E?dimensionID='+ p1+ '&editorname='+ p2+ '&my_params='+ p3+ '&p_dimension_id='+ p1,'LinkDimension','scrollbars=no').focus();}
else if (dest=="93071")
window.location = ipath + '/ansatte/organisasjon/presse?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="93075")
window.location = ipath + '/ansatte/organisasjon/konvensjoneravtaler?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="97437")
window.location = ipath + '/ansatte/organisasjon/videreutdanning?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="93022")
window.location = ipath + '/ansatte/organisasjon/omforskergruppa?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="96061")
window.location = ipath + '/startsida/brukerstotte';
else if (dest=="155469")
window.location = ipath + '/ansatte/organisasjon/ressurser?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="155479")
window.location = ipath + '/ansatte/organisasjon/elevaktiviteter?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="155480")
window.location = ipath + '/ansatte/organisasjon/dummy3?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="155481")
window.location = ipath + '/ansatte/organisasjon/dummy4?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="155485")
window.location = ipath + '/ansatte/organisasjon/malerverktoy?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="155486")
window.location = ipath + '/ansatte/organisasjon/administrasjon?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="93057")
window.location = ipath + '/ansatte/organisasjon/forskergruppeifrida?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="93077")
window.location = ipath + '/ansatte/organisasjon/andrelenker?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="93131")
window.location = ipath + '/ansatte/minside/godkjenne?p_lang=2';
else if (dest=="151901")
window.location = ipath + '/ansatte/organisasjon/nyhetstype?p_dimension_id=88111&type='+ p4;
else if (dest=="97429")
window.location = ipath + '/ansatte/organisasjon/regionalutvikling?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="50806")
{ window.open(ipath + '/cs/component/linkarchive?dimensionID='+ p1+ '&Xeditorname='+ p2+ '&my_params='+ p3+ '&cbFunction='+ p4+ '&cbClosure='+ p5+ '&maxCount='+ p6+ '&mode='+ p7+ '&p_dimension_id='+ p1,'LinkArchive','scrollbars=yes,resizable=yes').focus();}
else if (dest=="50853")
{ window.open(ipath + '/cs/component/imagearchive?dimensionID='+ p1+ '&editorname='+ p2+ '&cbFunction='+ p3+ '&cbClosure='+ p4+ '&p_dimension_id='+ p1,'ImageArchive','scrollbars=yes,resizable=yes').focus();}
else if (dest=="93067")
window.location = ipath + '/ansatte/organisasjon/undervisning?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="93073")
window.location = ipath + '/ansatte/organisasjon/masteroppgaver?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="93121")
window.location = ipath + '/ansatte/minside';
else if (dest=="163774")
window.location = ipath + '/mobile/for-studiesokere/velg-emne/sok?p_fagkode='+ p1+ '&p_aktiv_dim='+ p2;
else if (dest=="163783")
window.location = ipath + '/mobile/for-studiesokere/vis-emne?p_document_id='+ p1 + '&ar=2012&semester=V';
else if (dest=="164051")
window.location = ipath + '/mobile/study-catalogue/courses/search?p_fagkode='+ p1+ '&p_aktiv_dim='+ p2;
else if (dest=="164054")
window.location = ipath + '/mobile/study-catalogue/show-course?p_document_id='+ p1 + '&ar=2012&semester=V';
else if (dest=="164115")
window.location = ipath + '/mobile/for-studiesokere/soknad?p_document_id='+ p1;
else if (dest=="164197")
window.location = ipath + '/mobile/study-catalogue/application?p_document_id='+ p1;
else if (dest=="187795")
window.location = ipath + '/aktuelt/art?p_document_id='+ p1;
else if (dest=="187794")
window.location = ipath + '/forskning/art?p_document_id='+ p1;
else if (dest=="187796")
window.location = ipath + '/om/art?p_document_id='+ p1;
else if (dest=="187790")
window.location = ipath + '/utdanning/art?p_document_id='+ p1;
else if (dest=="190735")
{ window.open(ipath + '/cs/component/pickProsj?p_dimension_id=88111&p_search_id=190738','_piclist_m','height=550,top=' + (screen.height-550)/2 + ',width=975,left=' + (screen.width-975)/2 + ',scrollbars=yes,resizable=yes').focus();}
else if (dest=="190804")
window.location = ipath + '/om/enhet/forsiden?p_dimension_id=88111';
else if (dest=="190805")
window.location = ipath + '/om/enhet/utdanning?p_dimension_id=88111';
else if (dest=="94878")
window.location = ipath + '/tmu/artikkel?p_document_id='+ p1;
else if (dest=="155482")
window.location = ipath + '/ansatte/organisasjon/dummy5?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="154645")
window.location = ipath + '/ansatte/organisasjon/likestilling?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="155483")
window.location = ipath + '/ansatte/organisasjon/Informasjonssikkerhet?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="155484")
window.location = ipath + '/ansatte/organisasjon/hvemgjorhva?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="155487")
window.location = ipath + '/ansatte/organisasjon/universell_utforming?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="93069")
window.location = ipath + '/ansatte/organisasjon/medlemmer?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="161846")
window.location = ipath + '/utdanning/yrker/yrke?p_document_id='+ p1+ '&yrkeskode='+ p2;
else if (dest=="161884")
window.location = ipath + '/utdanning/emner/emne?p_document_id='+ p1;
else if (dest=="163438")
window.location = ipath + '/mobile/for-studiesokere/fag-og-studier/programside?p_document_id='+ p1 + '&ar=2012&semester=V';
else if (dest=="163680")
window.location = ipath + '/mobile/for-studiesokere/hva-er-du-interessert-i/yrker?p_yrke_kategori='+ p1;
else if (dest=="85976")
window.location = ipath + '/ansatte/organisasjon/hjem?p_menu='+ p1 + '&p_dimension_id=88111';
else if (dest=="87042")
window.location = ipath + '/ansatte/organisasjon/nyhetsartikkel?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="88943")
window.location = ipath + '/ansatte/organisasjon/veiledninger?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="88996")
window.location = ipath + '/ansatte/organisasjon/avtaler?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89003")
window.location = ipath + '/ansatte/organisasjon/dokumentliste?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89113")
window.location = ipath + '/ansatte/organisasjon/kontaktinfo?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89145")
window.location = ipath + '/ansatte/organisasjon/publikasjoner?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89154")
window.location = ipath + '/ansatte/organisasjon/regelverk?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89179")
window.location = ipath + '/ansatte/organisasjon/studier?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89186")
window.location = ipath + '/ansatte/organisasjon/styringsdokumenter?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89243")
window.location = ipath + '/ansatte/organisasjon/tavla/arrangementsarkiv?p_dimension_id=88111';
else if (dest=="89191")
window.location = ipath + '/ansatte/organisasjon/tavla?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89264")
window.location = ipath + '/ansatte/organisasjon/tavla/kunngjoringsarkiv?p_dimension_id=88111';
else if (dest=="89281")
window.location = ipath + '/ansatte/organisasjon/tavla/pengerahentearkiv?p_dimension_id=88111';
else if (dest=="89300")
window.location = ipath + '/ansatte/organisasjon/tavla/stillingsarkiv?p_dimension_id=88111';
else if (dest=="89324")
window.location = ipath + '/ansatte/organisasjon/utlysninger?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="89328")
window.location = ipath + '/ansatte/organisasjon/utstillinger?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="96062")
window.location = ipath + '/startsida/brukerstotte/brukergruppe?malgruppe='+ p1;
else if (dest=="160437")
{ window.open(ipath + '/formUB','_form','scrollbars=yes').focus();}
else if (dest=="164281")
window.location = ipath + '/mobile/for-studiesokere/soknad?p_document_id='+ p1 + '&p_origin=emne';
else if (dest=="164283")
window.location = ipath + '/mobile/study-catalogue/application?p_document_id='+ p1 + '&p_origin=emne';
else if (dest=="164651")
window.location = ipath + '/ansatte/minside';
else if (dest=="164653")
window.location = ipath + '/ansatte/minside/minedokumenter';
else if (dest=="164654")
window.location = ipath + '/ansatte/minside/minever';
else if (dest=="164655")
window.location = ipath + '/ansatte/minside/tilbudfellesannonsering';
else if (dest=="164656")
window.location = ipath + '/ansatte/minside/uitimedia';
else if (dest=="165065")
window.location = ipath + '/ansatte/organisasjon/formidling?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="165064")
window.location = ipath + '/ansatte/organisasjon/ressurser?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="165078")
window.location = ipath + '/ansatte/organisasjon/utdanningkurs?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="165080")
window.location = ipath + '/ansatte/organisasjon/gjesteforskere?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="165082")
window.location = ipath + '/ansatte/organisasjon/tjenester?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="170889")
{ window.open(ipath + '/utskriftStudiekatalog?p_document_id=329938&p_document_id='+ p1,'_blank','height=600,top=' + (screen.height-600)/2 + ',width=600,left=' + (screen.width-600)/2 + ',scrollbars=yes,resizable=yes').focus();}
else if (dest=="173840")
window.location = ipath + '/prosjekter/prosjektsub?p_document_id=329938&sub_id='+ p2;
else if (dest=="176118")
{ window.open(ipath + '/formM2','_form','scrollbars=yes').focus();}
else if (dest=="177878")
{ window.open(ipath + '/formmaster','_form','height=800,top=' + (screen.height-800)/2 + ',width=800,left=' + (screen.width-800)/2 + ',scrollbars=yes').focus();}
else if (dest=="188584")
{ window.open(ipath + '/formM2testhotell','_form','scrollbars=yes').focus();}
else if (dest=="189504")
window.location = ipath + '/ordertest?p_dimension_id=88111';
else if (dest=="190802")
window.location = ipath + '/om/enhet/forskning?p_dimension_id=88111';
else if (dest=="190806")
window.location = ipath + '/om/enhet/ansatte?p_dimension_id=88111';
else if (dest=="190842")
window.location = ipath + '/om/enhet/ansatte/person?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="190918")
window.location = ipath + '/om/enhet/omoss?p_dimension_id=88111';
else if (dest=="190144")
window.location = ipath + '/formmaster?p_document_id='+ p1 + '&p_dimension_id=88111&p_style_id=28681';
else if (dest=="191007")
window.location = ipath + '/om/enhet/aktuelt/arrangement?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="190074")
window.location = ipath + '/forskning/forskningsgrupper/spm?p_document_id=329938&sub_id='+ p1;
else if (dest=="53373")
window.location = ipath + '/intranet/teamsite/ansatte';
else if (dest=="53586")
window.location = ipath + '/intranet/nyhetsarkiv/lokasjon';
else if (dest=="23073")
window.location = ipath + '/blogg/om?blogg='+ p1;
else if (dest=="23078")
window.location = ipath + '/blogg/arkiv?p_d_i=-281&p_d_c=&p_d_v='+ p2;
else if (dest=="53379")
window.location = ipath + '/intranet/nyhetsarkiv/avd?p_dimension_id=88111';
else if (dest=="23070")
window.location = ipath + '/blogg?blogg='+ p1;
else if (dest=="52625")
window.location = ipath + '/intranet/workspace/discussions/details?p_discussion_id='+ p1+ '&p_document_id=329938&p_document_id='+ p2;
else if (dest=="23083")
window.location = ipath + '/blogg/tags?tag='+ p1;
else if (dest=="23080")
window.location = ipath + '/blogg/kategori?cat='+ p1;
else if (dest=="52613")
window.location = ipath + '/intranet/workspace/tasks/archive?p_document_id=329938';
else if (dest=="190848")
window.location = ipath + '/om/enhet/ansatte?p_dimension_id=88111';
else if (dest=="190891")
window.location = ipath + '/om/enhet/aktuelt?p_dimension_id=88111';
else if (dest=="190917")
window.location = ipath + '/om/enhet/aktuelt/nyhet?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="191500")
window.location = ipath + '/om/enhet/artikkelredirect?p_document_id='+ p1 + '&p_dimension_id=88111&men='+ p3;
else if (dest=="199305")
window.location = ipath + '/webshop/saksbehandling/bestilling?p_document_id='+ p1;
else if (dest=="199721")
window.location = ipath + '/education/courses/course?p_document_id='+ p1;
else if (dest=="199792")
window.location = ipath + '/utdanning/emner/emne?p_document_id='+ p1;
else if (dest=="208948")
window.location = ipath + '/webshop/kategori?p_document_id=329938';
else if (dest=="208517")
window.location = ipath + '/om/orakelet';
else if (dest=="211587")
window.location = ipath + '/om/enhet/referater/referat?p_document_id='+ p1 + '&p_dimension_id=88111';
else if (dest=="211422")
{ window.open(ipath + '/formWeborder','_form','scrollbars=yes').focus();}
else if (dest=="199734")
window.location = ipath + '/webshop/kategori?p_document_id='+ p1;
else if (dest=="208269")
window.location = ipath + '/om/enhet/ansatte?p_dimension_id=88111';
else if (dest=="198438")
{ window.open(ipath + '/formmasterpollsvar','_form','height=800,top=' + (screen.height-800)/2 + ',width=800,left=' + (screen.width-800)/2 + ',scrollbars=yes').focus();}
else if (dest=="207694")
window.location = ipath + '/om/enhet/aktuelt?p_dimension_id=88111';
else if (dest=="211539")
{ window.open(ipath + '/formWeborder','_form','scrollbars=yes').focus();}
else if (dest=="201410")
window.location = ipath + '/utdanning/emner/emne?p_document_id='+ p1;
else if (dest=="207791")
{ window.open(ipath + '/formpage','_form','scrollbars=yes').focus();}
else if (dest=="211541")
window.location = ipath + '/webshop/handlekurv/orderform';
else if (dest=="211585")
window.location = ipath + '/om/enhet/referater?p_dimension_id=88111';
else if (dest=="208945")
window.location = ipath + '/webshop';
else if (dest=="208678")
window.location = ipath + '/ansatte/organisasjon/innkallingerreferater?p_dimension_id=88111&p_menu='+ p1;
else if (dest=="208956")
window.location = ipath + '/webshop/kategori/sub?p_document_id='+ p1;
else if (dest=="211586")
window.location = ipath + '/om/enhet/omoss?p_dimension_id=88111';
else
     alert("Target " + dest + " not found");
return false;
}
/* ]]> */
    </script>
    <script type="text/javascript" src="https://uit.no/pls/portlet_manage_target.js" charset="utf-8"></script>


    <!--Trackingkode for google analytics på uit.no -->
    <script type="text/javascript">

    </script>
    <!--Slutt på trackingkode for google analytics på uit.no -->


</body>
</html>
